* {
	padding: 0;
	margin: 0;
}
body {
	background-color: blanchedalmond;
}
section {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
}
h1 {
	justify-self: center;
	width: 100%;
	display: flex;
	justify-content: center;
}
div {
	text-align: center;
	margin-top: 2em;
}
a,
button {
	padding: 5px;
	text-decoration: none;
	color: inherit;
	border: solid 3px black;
	border-radius: 100px;
	background-color: coral;
	&:hover {
		box-shadow: -2px -2px 5px black inset;
	}
}

#loginpage {
	width: 20em;
	margin-left: auto;
	margin-right: auto;
}

#page {
	background-color: cornsilk;
	max-width: 75em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}
form {
	display: flex;
	flex-direction: column;
}

from input,
form label {
	display: block;
}
form,
input {
	margin-bottom: 1em;
	padding: 0.5em;
}
.success {
	background-color: green;
	padding: 1em;
}
.fail {
	background-color: red;
	padding: 1em;
}
.hidemessage {
	display: none;
}
.showmessage {
	display: block;
	background-color: red;
	padding: 1em;
}
#links {
	&.showmessage {
		display: flex;
		justify-content: center;
		flex-direction: column;

		background-color: green;
		padding: 1em;
	}
}

#list {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
ul {
	list-style-type: none;
}
li {
	margin: 1em;
	text-decoration: none;
}
